# Exploratory data analysis
<input type="checkbox"> Import data <br>
<input type="checkbox"> Prepare data for further analysis <br>
<input type="checkbox"> Analyse datasets <br>
<input type="checkbox"> Summarise the main characteristics <br>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Import data from online source

In [2]:
urls = [
    'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
    'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
]

In [3]:
confirm = pd.read_html(urls[0])
death = pd.read_html(urls[1])

In [4]:
confirm_df = confirm[0]
death_df = death[0]

In [5]:
DATE = confirm_df.columns[5:]

In [6]:
confirm_cases = confirm_df.melt(id_vars=['Country/Region', 'Province/State'],
                                value_vars=DATE,
                                var_name='Date',
                                value_name='Confirm')
death_cases = death_df.melt(id_vars=['Country/Region', 'Province/State'],
                            value_vars=DATE,
                            var_name='Date',
                            value_name='Deaths')

In [7]:
confirm_cases['Date'] = confirm_cases['Date'].apply(pd.to_datetime)
death_cases['Date'] = death_cases['Date'].apply(pd.to_datetime)
table = pd.concat([confirm_cases, death_cases['Deaths']], axis=1)

In [8]:
table['Country/Region'] = table['Country/Region'].replace(
    'Korea, South', 'South Korea')

In [9]:
table['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'South Korea', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo', 'Burma', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone'], dtype=object)

In [10]:
table['Province/State'].unique()

array([nan, 'Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia', 'Alberta', 'British Columbia',
       'Grand Princess', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Nova Scotia', 'Ontario',
       'Prince Edward Island', 'Quebec', 'Saskatchewan', 'Anhui',
       'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong', 'Guangxi',
       'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan', 'Hong Kong',
       'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu', 'Jiangxi', 'Jilin',
       'Liaoning', 'Macau', 'Ningxia', 'Qinghai', 'Shaanxi', 'Shandong',
       'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin', 'Tibet', 'Xinjiang',
       'Yunnan', 'Zhejiang', 'Faroe Islands', 'Greenland',
       'French Guiana', 'French Polynesia', 'Guadeloupe', 'Mayotte',
       'New Caledonia', 'Reunion', 'Saint Barthelemy', 'St Martin',
       'Martinique', 'Aruba', 'Curacao', 'Sint Maarten', 'Bermuda',
       'Cayman Islands', 'Channel Islands', 'Gibraltar', 'Isle of Man',
       'Montserrat', 'Diamond Princess', 'Recovered',
       'Northwest Territories', 'Yukon', 'Anguilla',
       'British Virgin Islands', 'Turks and Caicos Islands'], dtype=object)

In [11]:
table.head()

  Country/Region Province/State       Date  Confirm  Deaths
0    Afghanistan            NaN 2020-01-22        0       0
1        Albania            NaN 2020-01-22        0       0
2        Algeria            NaN 2020-01-22        0       0
3        Andorra            NaN 2020-01-22        0       0
4         Angola            NaN 2020-01-22        0       0

In [12]:
table

       Country/Region            Province/State       Date  Confirm  Deaths
0         Afghanistan                       NaN 2020-01-22        0       0
1             Albania                       NaN 2020-01-22        0       0
2             Algeria                       NaN 2020-01-22        0       0
3             Andorra                       NaN 2020-01-22        0       0
4              Angola                       NaN 2020-01-22        0       0
...               ...                       ...        ...      ...     ...
17915  United Kingdom  Turks and Caicos Islands 2020-03-31        5       0
17916      MS Zaandam                       NaN 2020-03-31        2       0
17917        Botswana                       NaN 2020-03-31        4       1
17918         Burundi                       NaN 2020-03-31        2       0
17919    Sierra Leone                       NaN 2020-03-31        1       0

[17920 rows x 5 columns]

In [13]:
country_others = table.loc[(table['Country/Region'] != 'US')
                           & (table['Country/Region'] != 'China') &
                           (table['Country/Region'] != 'Spain') &
                           (table['Country/Region'] != 'Italy')]

In [14]:
country_top4 = table.loc[(table['Country/Region'] == 'US') |
                         (table['Country/Region'] == 'China') |
                         (table['Country/Region'] == 'Spain') |
                         (table['Country/Region'] == 'Italy')]

In [15]:
country_others_grouped = country_others.groupby(['Country/Region',
                                                 'Date']).sum()
country_top4_grouped = country_top4.groupby(['Country/Region', 'Date']).sum()

In [17]:
country_top4_confirm = country_top4_grouped.loc[:, ['Confirm']]
country_others_confirm = country_others_grouped.loc[:,['Confirm']]

In [18]:
country_confirm_top_4 = pd.pivot_table(
    country_top4_confirm, index='Date', columns='Country/Region', values='Confirm')
country_confirm_others = pd.pivot_table(
    country_others_confirm, index='Date', columns='Country/Region', values='Confirm')